body {
  margin: 0;
  padding: 0;
  height: 100vh;

  overflow: hidden;
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 14pt;
/*

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;

*/  
}

