
body {
/*	cursor: url('cursor.png') 5 5, auto ; 	*/
  font-family: 'Segoe UI', Arial, sans-serif;
}

a { 
	text-decoration: none;
	color: blue; 
}


iframe {
	border: none;
}

.display-none {		display: none;	}
.display-block {	display: block;	}
.display-flex {		display: flex;	flex-direction: row;}

.text-white-with-black-outline {
	color: white;
	text-shadow:
	-1px -1px 0 #111,
	-1px 1px 0 #111,
	1px -1px 0 #111,
	1px 1px 0 #111 ;
}

.cursor-pointer {	cursor: pointer;	}
.cursor-default {	cursor: default;	}

.border-1px {	border: 1px solid red;	}
.border-0px {	border: 0px solid blue;	}





u {
	color: green;
}


#fortune , #weather-tile , #notification {
	font-size: 1.5em;
	text-align: center;
	align-items: center;
	justify-content: center;
	
	/*
	color: white;
    width: 100%;
    height: 100%; /* or whatever height you want 
	*/
	
}

#weather-tile p {
	margin-left: 40px;
/*
	height: ;
	border: 0px solid blue;
	justify-content: ;
*/
	}

#fortune {
	font-size: 1.6em;
	font-weight: bold;
	color: lightgreen;
}

#line2 {
	font-size: 1.1em;
	color: white;
	}



