
.start-menu .start-menu-iframe {
	z-index: -100 ;
	display: block;
	position: fixed;
	bottom: 40px;
	left: -110vw ;
	height: calc(100vh - 40px );
	width: 100vw;
	transition: left 1.5s ease-in-out ;
}

.start-menu:hover .start-menu-iframe {
	display: block;
	left: 0px ;
}

.qr-code-img {	}

/* Taskbar styling, reduced to 60px height */
.taskbar {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background: rgba(250,250,250,0.6) ;
/*	background: linear-gradient( to bottom, rgba(220, 220, 220, 0.5) , rgba(100,100,100,0.8) , rgba(20,20,20,1) ) ;
*/  
border-top: 0px solid rgba(255, 255, 255, 0);
  backdrop-filter: blur(7px);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  padding: 0 10px 0px 0px;
  box-sizing: border-box;

text-shadow:
	-1px -1px 0 #111,
	-1px 1px 0 #111,
	1px -1px 0 #111,
	1px 1px 0 #111 ;
}

/* Start links container for spacing */
.start-links {
  display: flex;
  align-items: center;
  margin-right: 16px; /* Gap between Start Menus and pinned links */
}

.start-menu {
  display: flex;
  flex-direction: row ;
  position: relative;
  bottom: 0px;
  align-items: center;
  height: 40px;
  border: 0px solid rgba(255, 255, 255, 0);
  border: 0px solid red;
  text-decoration: none;
  background-color: transparent; /* Ensure no background color */
  margin-right: 100px;
	background-color: #5A5ADD;
	
/*   Uncomment for Windows Xp theme Start Menu		*/
/*
  border-radius: 0px 25px 0px 0px;
	background-color: rgba( 60, 110, 170, 0.9) ;
	box-shadow: 4px 3px 4px 2px rgba(0, 0, 0, 0.2) ;
*/	
}

.start-menu:hover {
/*
  border: 0px solid rgba(255, 255, 255, 0); 
	box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.4) ;
*/
}

.start-menu img {
  position: absolute;
  bottom: 2px;
  left: 0px;
  height: 40px;
  width: auto; /* Larger than pinned-links */
  margin-left: 25px;
  margin-right: 10px;
  border: 1px solid orange;
}

.start-menu .start-menu-icon {
	width: 80px;
	height: 36px;
	margin-left: ;
	background-color: ;
  border: 0px solid blue;
	background-image: url('../image/windows-tilted-outline.png') ;
	background-repeat: no-repeat ;
	background-size: auto 100%;
	background-position: center center;
	
}

.start-menu:hover .start-menu-icon {
	background-color: ;
/*
	background-image: url('../image/windows-xp-mono.png');
	background-color: linear-gradiant ( to bottom, #D8e4f1, #3a6ea5 ) ;
	*/
}

.start-menu div.span {
	position: relative;
	left: 0px;
	width: 100px;
	height: ;
	font-size: 19px ;
	font-weight: 800 ;
  border: 0px solid blue;

}

.hover-hidden:hover {
	opacity: 0;

}

/* 000000000000000000000000000000000000 */
.pinned-links {
  display: flex;
  align-items: center;
}


.pinned-links a {
	position: relative;
	bottom:7px;
  margin: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  border: 0px solid rgba(255, 255, 255, 0);
}

.pinned-links a:hover {
	border: 0px solid rgba(255, 255, 255, 0);
}

.pinned-links img {
  width: 35px;
  height: 35px;
}

.pinned-links a ,
.system-tray a {
/*	box-shadow: 5px 0px 30px #888; */
	transition: transform 0.2s ;
}

.pinned-links a:hover ,
.system-tray a:hover {
	transform: translateY(-12px) ;
}

.pinned-links a span {
  font-stretch: condensed;
  font-size: 18px;
  font-weight: 600;
  margin-left: 4px;
  color: white;
}

/* 11111111111111111111111111111111 */

.system-tray {
  margin-left: auto;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  border: 0px solid blue;
  height: 40px;
	background-color: ;
}

.pinned-icon {

  display: flex;
  flex-direction: row;
  font-size: 1.4em;
  margin: 0px 20px;
}

.pinned-icon img {
	height: 36px;
	width: auto;
  margin-right: 10px;
}

.system-tray a {
  margin: 0 4px;
  display: flex;
  align-items: center;
  position: relative;
  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 0px 0px;
  border: 0px solid orange;
}

.system-tray a:hover {
  border: 0px solid rgba(255, 255, 255, 0);
}

.system-tray img {
  width: auto;
  height: 36px;
}

.system-tray a span {
  font-stretch: condensed;
  font-size: 1em;
  margin-left: 4px;
  color: white;
}

.clock {
  height: 40px;
  padding: 5px 5px;
  font-size: 25px;
  font-weight: 666;
  line-height: 40px;
  border: 0px solid orange;
}
