
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(128, 128, 128, 0.9 );
}

.title-bar {
  background: linear-gradient(#a0a0a0, #808080);
  color: #222;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 777;
  border-bottom: 1px solid #666;
  margin: -20px -20px 20px -20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

